<h3 class="text-danger">ISO 9001 : 2008  CERTIFICATION</h3>
<div class="row">
    <div class="col-sm-12">
        <p>
ISO 9001: 2008 is an international standard related to quality management system, applicable
            to any organization from all types of business sectors and activities. 
ISO 9001:2008 is based on eight quality management principles (all fundamental to good business
            practice). When fully adopted, these principles can help improve your organizational
            performance:
        </p>
        </div>
    <div class="col-sm-8">
        <ul>
            <li><strong>Customer focus:</strong> organizations depends on their customers, and therefore need to
                shape activities
            around the fulfillment of market need</li>
            <li><strong>Leadership:</strong> is needed to provide unity of purpose and direction</li>
            <li><strong>Involvement of people:</strong> creates an environment where people become fully involved
                in achieving
           the organization's objectives</li>
            <li><strong>Process approach:</strong> to achieve organizational objectives, resources and activities
                need to be
            managed as processes, with an understanding of how the outputs of one process affects
                the inputs of another</li>
            <li><strong>System approach to management:</strong> the effectiveness and efficiency of the organization
                depends
            on a systemized approach to work activities</li>
            <li><strong>Continual improvement:</strong> adopting this as a part of everyday culture is a key objective
                for an
            organization</li>
            <li><strong>Fact based decision-making:</strong> effective decisions are based on the logical and intuitive
                analysis
            of data and factual information</li>
            <li><strong>Mutually beneficial supplier relationships:</strong> such relationships will enhance theability
                to create value.</li>
        </ul>
       
    </div>
    <div class="col-sm-4">
         <!-- Button trigger modal -->
        <a data-toggle="modal" href="#myModal"><img src="images/ISO_Cert_small.jpg" /></a>
    </div>
    <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">ISO 9001: 2008 Certificate</h4>
        </div>
        <div class="modal-body">
          <img src="images/ISO_Cert.jpg" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>
