<div class="row">
    <div class="col-sm-12">
        <h3 class="text-danger">Board of Directors</h3>
    </div>
    <div class="col-sm-3">
        <img src="images/md.jpg" style="margin: 10px">
    </div>
    <div class="col-sm-9">
        
        <h4 >Rtn. V.Raja Seenivasan, <small>Managing Director</small> </h4>
        <p>
            Rtn V. Raja Seenivasan is a Leather technologist from the First Batch of Anna University. He started his own Leather business in 1987, which has now transformed into a leading company—VRS Leathers
            Private Limited— that manufactures and exports finished leather around the globe.
        </p>
        <p>
            Rtn. Raja joined the Rotary Club of Madras West in 1997 and served as its President in 2002-03 when he won ‘The Silver Rotary Action Trophy’ for best overall performance. From 2003-04, he held various
            District Positions and assignments including Assistant Governor. He initiated many projects of which the ‘Care for tender feet’—providing footwear to children —is ongoing.

            Rtn. Raja and his spouse Mrs Jayanthi are well known for their philanthropic nature both in and out of Rotary.

            Rtn. Raja was unanimously elected as the District Governor in 2012-13.
        </p>

    </div>
    <div class="col-sm-12">&nbsp;</div>
<!--
    <div class="col-sm-3">
        <img src="images/md.jpg" style="margin: 10px">
    </div>
    <div class="col-sm-9">
        
        <h4 >Rtn. V.Raja Seenivasan, <small>Managing Director</small> </h4>
        <p>
            Rtn V. Raja Seenivasan is a Leather technologist from the First Batch of Anna University. He started his own Leather business in 1987, which has now transformed into a leading company—VRS Leathers
            Private Limited— that manufactures and exports finished leather around the globe.
        </p>
        <p>
            Rtn. Raja joined the Rotary Club of Madras West in 1997 and served as its President in 2002-03 when he won ‘The Silver Rotary Action Trophy’ for best overall performance. From 2003-04, he held various
            District Positions and assignments including Assistant Governor. He initiated many projects of which the ‘Care for tender feet’—providing footwear to children —is ongoing.

            Rtn. Raja and his spouse Mrs Jayanthi are well known for their philanthropic nature both in and out of Rotary.

            Rtn. Raja was unanimously elected as the District Governor in 2012-13.
        </p>

    </div>
-->
</div>
