<h3 class="text-danger">Company Profile</h3>
<div class="row">
<div class="col-sm-7" >
    <p>
        The well established <strong>V R S group</strong> founded in 1987 by <strong>V.RajaSeenivasan</strong>, a leather 
        technologist with a vision,is run by a team of professionals, qualified in technology
        and  management.
    </p>
    <p>
        From its humble beginning, VRS Leathers today has evolved continually
        over 2 decades to become a leading and well recognised manufacturer and exporters
        of finished leather from India today. 
    </p>
    <p>
        A state of the art & an environment-friendly manufacturing facility in Chennai with a <span style="color:#006bd6">150 member
        strong work force</span> & a technically well equipped team helps us churn out a whopping
        <span style="color:#006bd6">6 million sq. ft</span> of finished leather in double quick time matching the various needs
        of our clientele. We are experts in making finished leather for 
        <span class="text-success">Shoe upper</span>, <span class="text-success">Leather goods</span> and <span class="text-success">Garments</span>
    </p>
    <p>
        An abundantly stocked raw material helps us meet the stringent needs of the market
        with relative ease. Quality is paramount to us and we follow <span style="color:#006bd6">TQM throughout our
        entire production process</span>. The hides are sourced from reputed suppliers and processed
        with care to meet the <span style="color:#006bd6">European norms and standards.</span> 
    </p>
    <p>
        We are exceptionally well known in the industry for our on-time deliveries and an
        equally competitive pricing model to serve the best needs of the market. 
    </p>
    <p>
        At VRS leathers, we have always believed in a lasting and long standing relationship
        with our Customers by understanding their specific requirements and then ensure
        that their needs are met in the best possible way and above all, at a price that
        definitely offers value for money. 
    </p>
    <p>
        A long standing relationship with our existing customers across the globe stands
        testimony to our <span style="color:#006bd6">commitment to quality & excellence</span> in matching the best needs of
        the customers 
    </p>
</div>
    <div class="col-sm-5">
        <p>
            <img src="images/pics/DSC00147_ws.jpg" class ="img-responsive"/>
        </p>
        
    </div>
</div>