<div class="row">
    <div class="col-md-3" >
        <div >
            <div>
                <h4 class="text-danger">Address</h4>
            </div>
        
            <div >    
                <address>
                    <h4>VRS Leathers Pvt. Ltd.,</h4>
                    78 B,Anna Salai,<br />
                    Nagalkeni, Chromepet,
                    <br />
                    Chennai-600044.<br />
                    INDIA.<br />
                </address>
        
                <table>
                    <tr>
                        <td><strong>Phone:</strong></td>
                        <td style="text-align:right">+91-44-22484428</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td style="text-align:right">22485669</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td style="text-align:right">22485040</td>
                    </tr>
                    <tr>
                        <td><strong>Fax:</strong></td>
                        <td style="text-align:right">+91-44-22485010</td>
                    </tr>
                    <tr>
                        <td><strong>Email:</strong></td>
                        <td style="text-align:right"><a href="mailto:info@vrsleathers.com">info@vrsleathers.com</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    
    <div id="map_canvas" class="col-md-8" style="height: 500px">
        
    </div>
    <!--
        <div class="col-md-5 col-md-offset-1">
            <h3 style="line-height: 0px;padding-bottom: 10px">Contact Us</h3>
            <form class="form">
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                
                    <input class="form-control input-sm" type="text" id="name" placeholder="Name" data-ng-model="name"/>
                </div>
                <div class="form-group">
                    <label class="control-label" for="designation">Designation</label>
                    <input class="form-control input-sm" type="text" id="designation" placeholder="Designation" data-ng-model="designation" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="company">Company Name</label>
                    <input class="form-control input-sm" type="text" id="company" placeholder="Company Name" data-ng-model="company" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="address">Address</label>
                    <textarea class="form-control input-sm" id="address" placeholder="Address" data-ng-model="address" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label class="control-label" for="country">Country</label>
                    <input class="form-control input-sm" type="text" id="country" placeholder="Country" data-ng-model="country" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="phone">Phone</label>
                    <input class="form-control input-sm" type="text" id="phone" placeholder="Phone" data-ng-model="phone" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="email">Email</label>
                    <input class="form-control input-sm" type="text" id="email" placeholder="Email" data-ng-model="email" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="message">Message</label>
                    <textarea class="form-control input-sm" id="message" placeholder="Message" data-ng-model="message" rows="5"></textarea>
                </div>
                <div class="form-group">
                    <button data-ng-click="submit()" class="btn btn-sm btn-primary" id="btnSubmit">Submit</button>
                    <button type="reset" class="btn btn-sm btn-default" id="btnReset">Reset</button>
                </div>

            </form>
        </div>
        -->
  
</div>
