<div class="row">
    <div class="col-sm-12">
        <div id="myCarousel" class="carousel slide" data-interval="4000">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
                <div class="active item">
                    <div class="inner-item">
                        <img src="images/pics/DSC00147_ws.jpg" />
                        <div class="carousel-caption">
                            <p>A state-of-the art and environment friendly manufacturing facility</p>
                        </div>

                    </div>
                </div>
                <div class="item">
                    <div class="inner-item">
                        <img src="images/pics/DSC05014_ws.jpg" />
                        <div class="carousel-caption">
                            <p>Ontime deliveries and highly competetive pricing</p>
                        </div>

                    </div>

                </div>
                <div class="item">
                    <div class="inner-item">
                        <img src="images/pics/DSC07379_ws.jpg" />
                        <div class="carousel-caption">
                            <p>Ontime deliveries and highly competetive pricing</p>
                        </div>

                    </div>

                </div>
                <div class="item">
                    <div class="inner-item">
                        <img src="images/pics/DSC07386_ws.jpg" />
                        <div class="carousel-caption">
                            <p>Meeting the critical and urgent supply demands of the market</p>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev"><span class="icon-prev">
            </span></a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next"><span class="icon-next">
            </span></a>
        </div>
    </div>
    <br />
    <div class="col-sm-12">
        <h4 class="text-primary">The well established <strong>V R S group</strong> founded in
            <strong>1987</strong> by <strong>V.Raja Seenivasan</strong>, a leather 
            technologist with a vision, is run by a team of professionals, qualified in technology
            and  management.
        </h4>

        <h4 class="text-primary">Our Modern sophisticated tannery is  equipped to churn out
            six million sq.feet of
            finished leather per annum. Leather of every kind rolls out of our factory for  every
            application (Shoe Upper,Leather goods & Garments).
               
        </h4>
        <a href="#/company-profile" class="btn btn-primary btn-sm">Learn more »</a>

    </div>



</div>
<!-- Example row of columns -->
<div class="row">
    <div class="col-md-6">
        <h3 class="text-danger">Finished Leathers</h3>
        <p>
            <span class="text-success"><strong>Shoe upper</strong></span>, <span class="text-success"><strong>Leather goods</strong></span> and <span class="text-success"><strong>Garments</strong></span>.
            A state of the art manufacturing facility in Chennai and a technically well equipped team enables us to churn
            out 6 million sq. ft of finished leather in double quick time matching various needs of our clients. 
        </p>
        <p><a class="btn btn-primary btn-sm" href="#/finished-leather">View details »</a>
        </p>
    </div>
    <div class="col-md-6">
        <h3 class="text-danger">Certifications</h3>
        <p>
            VRS Leathers follows a proven process in leather making with a framework to ensure
            continual improvement. We are ISO 9001:2008 certified. Our process ensures sustained
            customer satisfaction by producing finished leather that meet our customer's expectations.
        </p>
        <p><a class="btn btn-primary btn-sm" href="#/awards">View details »</a></p>
    </div>
</div>

